<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Welcome to {{title}}!!
      </h1>
      </div>
      <div class="col-md-6">
        <app-search-bar (searchTermChanged)="onSearchTermChange($event)" [defaultSearchTerm]="defaultSearchTerm"></app-search-bar>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-8">
          <!-- without *ngIf="selectedVideo", video-detail's ngOnInit() will have video object undefined -->
          <app-video-detail *ngIf="selectedVideo" [video]="selectedVideo"></app-video-detail>
        </div>
        <div class="col-md-4">
          <app-video-list  [videoList]="videoList"></app-video-list>
        </div>
    </div>
  </div>
</div>
